@import "tailwindcss";

@theme {
  --color-war-primary: #030304;
  --color-war-light: #D4CFC9;
  --color-war-medium: #8B8580;
  --color-war-warm: #AD8277;
  --color-war-cool: #304356;
  --color-war-neutral: #86655E;
  --color-war-blue: #557D91;
  --color-war-gold: #C4BC74;
  --color-war-white: #ffffff;
}
