@import "tailwindcss";


@theme {

  --color-war-primary: #030304;
  --color-war-light: #B0AAA6;
  --color-war-medium: #605E5D;
  --color-war-warm: #AD8277;
  --color-war-cool: #304356;
  --color-war-neutral: #86655E;
  --color-war-blue: #557D91;
  --color-war-gold: #C4BC74;
  --color-war-white: #ffffff;
}