---
---

<!-- Grid sutil de fondo global, debe usarse bajo un relative -->
<div class="fixed inset-0 opacity-5 pointer-events-none z-40" style="background-image: linear-gradient(var(--color-war-light) 1px, transparent 1px), linear-gradient(90deg, var(--color-war-light) 1px, transparent 1px); background-size: 60px 60px;"></div>
