---
---

<!-- Grid sutil de fondo, debe usarse bajo un relative -->
<div class="absolute inset-0 opacity-5" style="background-image: linear-gradient(var(--color-war-light) 1px, transparent 1px), linear-gradient(90deg, var(--color-war-light) 1px, transparent 1px); background-size: 50px 50px;"></div>
